{% load staticfiles %}

<html>
<head>
	<title>MMR</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h1>MMR</h1>
				<div>
					
					  <div >
					    <label >Job ID: </label>
					    <input type="text" id="job_id" placeholder="Enter Job ID">
					  </div>
					  <button type="submit" id="jobCheck" class="btn btn-default">Check</button>
					
				</div>
			</div>
		</div>

		<div class="row">
		  <div class="col-md-6">
		  	<h2>Data<small> Space separated tokens</small></h2>
		  	<form role="form">
		  	  <div class="form-group">
		  	    <textarea id="inData" class="form-control" rows="3"></textarea>
		  	  </div>
		  	</form>
		  </div>
		  <div class="col-md-6">
		  	<h2>Algorithm<small> Except data to be array of Strings</small></h2>
		  	<form role="form">
		  	  <div class="form-group">
		  	    <textarea id="algo" class="form-control" rows="3"></textarea>
		  	  </div>
		  	</form>
		  </div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<button id="submitButton" type="button" class="btn btn-primary">MMR!</button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<button id="testButton" type="button" class="btn btn-primary">testMMR!</button>
			</div>
		</div>
		<script type="text/javascript" src="{% static '/static/js/actions.js' %}"></script>
	</div>
</body>
</html>
